<app-movebar></app-movebar>
<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" [disabled]="Dissable" placeholder="Vardas">
    </div>
    <div class="col">
      <input type="text" class="form-control" [disabled]="Dissable" placeholder="Pavarde">
    </div>
  </div>
  <br>
  <div class="row">
    <div class= "col">
      <input type="date" class="form-control" [disabled]="Dissable" placeholder="Gimimo data" max="2018-01-01">
    </div>
    <div class= "col">
      <input type="text" class="form-control"  [disabled]="Dissable" placeholder="Adresas">
    </div>
  </div>
  <span class="btn btn-success"  *ngIf="Dissable" (click)="keisti()">Keisti</span>
  <Button class="btn btn-success"  *ngIf="!Dissable">Įsaugoti</Button>
  <button class="btn btn-danger"  *ngIf="!Dissable">Atšaukti</button>
</form>