<div class="row justify-content-md-center">
<app-movebar></app-movebar>
</div>
<div class="row justify-content-md-center">
<form>
  <label>Atsiliepimo tipas:</label>
  <br>
    <select id="teigiamas"  #selectedCategory>
      <option value="Teigiamas">Teigiamas</option>
      <option value="Neigiamas">Neigiamas</option>
      </select>
    <br>
    <label>Žinutė:</label>
    <br>
<textarea name="Message" id="Message" [(ngModel)]="Review"></textarea>
<br>
<span class="btn btn-success" (click)="ideti(selectedCategory.value)">Pateikti</span>
</form>
</div>