<nav class="navbar navbar-light bg-light">
  <li class="nav-item nav-link" [routerLink]="['/worker/part']">Detales uzsakymas</li>

  <li class="nav-item nav-link" [routerLink]="['/Review']">Pageidavimas</li>

  <li class="nav-item nav-link"[routerLink]="['/user/worker']">Atsiliepimas apie Darbuotoja</li>

  <li class="nav-item nav-link" [routerLink]="['/user/list']">Visi užsakymai</li>

  <li class="nav-item nav-link" [routerLink]="['/admin/worker']">Darbuotojai</li>

  <li class="nav-item nav-link"[routerLink]="['/Worker']">Paskyra(darbuotojo)</li>
  <li class="nav-item nav-link"[routerLink]="['/User']">Paskyra (vartotojo) </li>
  <li class="nav-item nav-link" [routerLink]="['/admin/orders']">Užsakymai</li>
</nav>