<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b> Kiniškos dalys</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
  <li class="nav-item nav-link" [routerLink]="['/worker/part']">Detales uzsakymas</li>

  <li class="nav-item nav-link" [routerLink]="['/Review']">Pageidavimas</li>

  <li class="nav-item nav-link"[routerLink]="['/user/worker']">Atsiliepimas apie Darbuotoja</li>

  <li class="nav-item nav-link" [routerLink]="['/user/list']">Visos Saskaitos</li>

  <li class="nav-item nav-link" [routerLink]="['/admin/worker']">Darbuotojai</li>

  <li class="nav-item nav-link"[routerLink]="['/Worker']">Paskyra(darbuotojo)</li>
  <li class="nav-item nav-link"[routerLink]="['/User']">Paskyra (vartotojo) </li>
  <li class="nav-item nav-link" [routerLink]="['/admin/orders']">Užsakymai</li>
</ul> 
</div>
</div>
</nav>