<div class="row justify-content-md-center">
  <span class="btn btn-secondary" [routerLink]="['/worker/part']">Detales uzsakymas</span>

  <span class="btn btn-secondary" [routerLink]="['/Review']">Atsiliepimas</span>

  <span class="btn btn-secondary"[routerLink]="['/user/worker']">Atsiliepimas apie Darbuotoja</span>

  <span class="btn btn-secondary" [routerLink]="['/user/list']">Visi užsakymai</span>

  <span class="btn btn-secondary" [routerLink]="['/admin/worker']">Darbuotojai</span>

  <span class="btn btn-secondary"[routerLink]="['/Worker']">Paskyra(darbuotojo)</span>
  <span class="btn btn-secondary"[routerLink]="['/User']">Paskyra (vartotojo) </span>
  <span class="btn btn-secondary">Užsakymai</span>
</div>