
<div id= "Forma">
 <form id="Login">

     <div class="form-group" id="User">

      <p id="text">Please enter your email and password</p>
         <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">

     </div>

     <div class="form-group" id="Pass">

         <input type="password" class="form-control" id="inputPassword" placeholder="Password">

     </div>
     <div id="mygtukas">
     <button [routerLink]="['../Account']" class="btn btn-success" >Login</button>
    </div>
 </form>
 </div>