<form>
    <label>Atsiliepimo tipas:</label>
    <br>
    
      <input list="teigiamas">
      <datalist id="teigiamas">
        <option value="Teigiamas">
        <option value="Neigiamas">
      </datalist>
      <br>
      <input list="Remontas">
      <datalist>
        <option value="Asd"></option>
        <option value="asde"></option>
      </datalist>
      <label>Žinutė:</label>
      <br>
  <textarea name="Message" id="Message"></textarea>
  <br>
  <button class="btn btn-success">Pateikti</button>
  </form>