<div class="row justify-content-md-center">
<app-movebar></app-movebar>
</div>
<div class="row justify-content-md-center">
<form #review="ngForm"  (ngSubmit)="registerUser(signupForm)">
    <label>Atsiliepimo tipas:</label>
    <br>
    
    <select id="teigiamas"  #selectedCategory>
        <option value="1">Teigiamas</option>
        <option value="0">Neigiamas</option>
        </select>
      <br>
      <label>Darbuotojas:</label>
      <br>
      <select id="Remontas" #selectedbedarbis>
          <option  *ngFor="let i of data" [value]="i.tabelio_nr">
              {{i.Vardas}} {{i.Pavarde}}
            </option>
      </select>
      <br>
      <label>Žinutė:</label>
      <br>
  <textarea [(ngModel)]="tekstas" name="Message" id="Message"></textarea>
  <br>
  <span class="btn btn-success" (click)="update(selectedbedarbis.value,selectedCategory.value)">Pateikti</span>
  </form>
</div>