<div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Pirkinių krepšelis
  </div>
 
  <!-- Product #1 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
    </div>
 
    <div class="image" style="width: 100px">
      <img src="../assets/img-1.jpg" alt="" />
    </div>
 
    <div class="description">
      <span>Kinija</span>
      <span>Dalis1</span>
      <span>Juoda</span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="../assets/plus.jpg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
        <img src="../assets/minus.jpg" alt="" />
      </button>
    </div>
 
    <div class="total-price">$549</div>
  </div>
 
  <!-- Product #2 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
    </div>
 
    <div class="image" style="width: 100px">
      <img src="../assets/img-1.jpg" alt=""/>
    </div>
 
    <div class="description">
      <span>Kinija</span>
      <span>Dalis2</span>
      <span>Balta</span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="../assets/plus.jpg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
        <img src="../assets/minus.jpg" alt="" />
      </button>
    </div>
 
    <div class="total-price">$870</div>
  </div>
 
  <!-- Product #3 -->
  <div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
    </div>
 
    <div class="image" style="width: 100px">
      <img src="../assets/img-1.jpg" alt="" />
    </div>
 
    <div class="description">
      <span>Kinija</span>
      <span>Dalis3</span>
      <span>Pilka</span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button" >
        <img src="../assets/plus.jpg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
        <img src="../assets/minus.jpg" alt="" />
      </button>
    </div>
 
    <div class="total-price">$349</div>
  </div>
</div>

<button class="button3" type="button" name="button3">Mokėti</button>
<button class="button2" type="button" name="button2" [routerLink]="['../Shop']">Grįžti į parduotuvę</button>
